APScheduler        3.11.0
certifi            2025.4.26
charset-normalizer 3.4.2
colorama           0.4.6
greenlet           3.2.3
idna               3.10
pip                25.1.1
playwright         1.52.0
psutil             7.0.0
pyee               13.0.0
requests           2.32.3
tqdm               4.67.1
typing_extensions  4.14.0
tzdata             2025.2
tzlocal            5.3.1
urllib3            2.4.0